body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Courier Prime', monospace;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 1170px;
    margin-left: 98px;
    margin-right: 97px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0075FF;
    color: white;
    height: 55px;
}

.header h1 {
    float: left;
    font-size: 32px;
    color: black;
    margin-top: 7px;
    margin-left: 60px;
    padding-top: -3px;
    font-family: 'Arima Madurai', cursive;
}

.menu ul {
    display: flex;
    margin-right: 95px;
    margin-top: -14px;
}

.menu ul li {
    margin-left: 23px;
    font-size: 18px;
    text-align: center;
    align-items: center;
}

.menu ul li a {
    align-items: center;
    display: flex;
    padding: 8px;
}

.menu ul li:hover {
    border-bottom: 3px solid #000000;
    border-radius: 3px;
    color: black;
}


/*     ESTILZIAÇÃO PARA A PARTE INICIAL     */

.titulo {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    height: 470px;
    margin-left: 98px;
    margin-top: 65px;
    background: linear-gradient(178.03deg, #0075FF 0.75%, #4271FF 16.86%, #0C1C59 75.79%);
    border-radius: 3px;
}

.vindos {
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    font-family: 'Courier Prime', monospace;
    font-size: 43px;
    text-align: center;
    padding-left: 120px;
    padding-right: 550px;
    margin-top: 120px;
    margin-left: 70px;
}

.felipe {
    display: flex;
    position: absolute;
    width: 297px;
    height: 444px;
    float: right;
    right: 255px;
    top: 91px;
    filter: drop-shadow(-6px 6px 20px rgba(0, 0, 0, 0.25));
}


/* vetores sem fundo */

.vetor4 {
    position: absolute;
    float: left;
    transform: translateY(-420px);
}

.vetor3 {
    position: absolute;
    width: 390px;
    transform: translateY(-500px);
    margin-left: 956px;
}


/* vetores com fundo */

.vetor1 {
    width: 360px;
    position: absolute;
    z-index: -1;
}

.vetor2 {
    width: 360px;
    position: absolute;
    z-index: -1;
    transform: translateX(985px);
}


/*      PERGUNTAS  E RESPOSTAS    */

.perguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-left: 98px;
    margin-top: 56px;
}

.perguntas ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.perguntas li {
    display: flex;
    background-color: #0C1C59;
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    margin-right: 30px;
    width: 300px;
    height: 90px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /*texto*/
    font-size: 25px;
    color: white;
    margin-right: 135px;
}

.perguntas ul li:nth-child(3) {
    margin-right: 0px;
}

.respostas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 170px;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-left: 98px;
}

.respostas ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.respostas li {
    font-size: 27px;
    margin-right: 135px;
    width: 300px;
}

.respostas ul li:nth-child(3) {
    margin-right: 0px;
    font-size: 25px;
}


/*   CORPO DO SITE    */


/*   MINHA HISTÓRIA   */

.mhistoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    margin-top: 300px;
}

.mhistoria p {
    display: flex;
    background-color: #0C1C59;
    justify-content: center;
    width: 550px;
    height: 300px;
    font-size: 27px;
    color: white;
    padding-left: 112px;
    padding-right: 33px;
    text-indent: 3em;
    text-align: justify;
    align-items: center;
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.33);
    border-radius: 3px;
}

.cidade {
    position: absolute;
    width: 257px;
    height: 206.46px;
    left: 886px;
    margin-top: 50px;
}


/*   VIDA ACADEMICA   */

.emedio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 650px;
    position: absolute;
    align-items: center;
}

.emedio img {
    display: flex;
    width: 180px;
    align-items: center;
    margin-left: 200px;
    margin-right: 240px;
    padding-top: 30px;
}

.emedio p {
    display: flex;
    width: 541px;
    height: 300px;
    padding-left: 62px;
    padding-right: 112px;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-color: #BDBDBD;
    color: black;
    font-size: 27px;
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.33);
    border-radius: 3px;
    text-indent: 3em;
}

.ufrn {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1050px;
    margin-left: 465px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0C1C59;
    width: 400px;
    height: 90px;
    color: white;
    font-size: 30px;
    box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.33);
    border-radius: 3px;
}

.curso {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    margin-left: 280px;
    margin-top: 1200px;
    width: 770px;
    max-height: 520px;
    border-radius: 3px;
}

.curso p {
    text-indent: 3em;
}

.mec,
.comp {
    display: flex;
    background-color: #0C1C59;
    max-width: 392px;
    height: 260px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 21px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.mec {
    border-top-left-radius: 5px;
}

.logomec {
    border-top-right-radius: 5px;
}

.comp {
    border-bottom-right-radius: 5px;
}

.logocomp {
    border-bottom-left-radius: 5px;
}

.logomec,
.logocomp {
    display: flex;
    background-color: #BDBDBD;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logomec img,
.logocomp img {
    height: 174px;
}


/*   rodape + barra de redes sociais   */


/*    BARRA COM AS REDES SOCIAIS  */

footer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 2000px;
    margin-left: 98px;
}

.redes {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: #BDBDBD;
    width: 1170px;
    height: 260px;
}

.redes p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 100px;
    margin-right: 400px;
    font-size: 35px;
    color: #0C1C59;
}

.fotof {
    height: 245px;
    margin-left: 230px;
    margin-top: 15px;
    filter: drop-shadow(-6px 6px 20px rgba(0, 0, 0, 0.25));
}

.redes ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 30px;
}

.redes ul li {
    display: flex;
    flex-wrap: wrap;
    margin-left: 700px;
    margin-top: 17px;
    text-align: center;
    align-items: center;
}

.redes ul li a {
    color: black;
}

.redes ul li a:hover {
    color: #0C1C59;
    border-bottom: 3px solid;
    border-bottom-color: #0C1C59;
}

.redes ul li img {
    display: flex;
    height: 35px;
    padding-right: 20px;
}

.rodape {
    display: flex;
    position: absolute;
    width: 1170px;
    height: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: #0C1C59;
    margin-top: 290px;
}


/* ANIMAÇÕES */

[data-anime] {
    opacity: 0;
    transition: .6s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0px, 0px);
}

[data-anime="right"] {
    transform: translate3d(50px, 0px, 0px);
}

[data-anime="bottom"] {
    transform: translate3d(0px, 50px, 0px);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #D68910 90%);
    border-radius: 3px;
}